.container {
  height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.screenWidth {
  width: 100%;
}

.todoItem {
  align-items: center;
  gap: 0.5rem;
}

.flex-1 {
  flex: 1;
}

.todoItem > p {
  padding: 0 1rem;
}
